html,
body {
  @apply flex justify-center items-center bg-sky-200 p-0 m-0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* MAIN */
.main {
  @apply py-4 flex flex-col grow justify-center items-center;
}

/* CONTAINER */
.container {
  @apply min-h-screen p-4;
}

/* TITLE */
.title {
  @apply mb-8 text-7xl text-center;
}
